/* !! general styling !! */
* {
    box-sizing: border-box;
    font-size: 16px;
    color: #6F727C;
}

body {
    background-image: url('/img/gradient-background.png');
    background-size: cover;
}

ul {list-style: none;}

.contentBody {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: 2%; 
    margin-right: 2%; 
    min-height: 100vh;
    border-radius: 50px;
}

/* !! navbar & footer !! */
.navbar {
    background: rgba(255, 255, 255, 0.25); 
    backdrop-filter: blur(12px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 30px;
    z-index: 10;
}
.nav-logo {
    color: #6F727C !important;
    font-size: 26px !important;
    padding-left: 20px;
    position: absolute;
    transform: translateY(-50%); 
}
.hamburger-line {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #6F727C;
}
.hamburger-menu {
    display: none;
    position: fixed;
    right: 0;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 42px;
    z-index: 100;
  }
.hamburger-links a {
    text-decoration: none;
    color: #6F727C;
    font-size: 20px;
    padding-right: 20px;
}
.reg-nav {
    display: none;
}
.footer {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* neon hover effect */
.navbar a,
.hamburger-menu a {
  color: #6F727C;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.navbar a:hover,
.hamburger-menu a:hover {
  color: #fc1ea7;
  transform: scale(1.05);
}


/* !! homepage !! */
h1 {
    font-size: 55px; 
    font-family: "Rubik Mono One";
}
.homepageRole {
    color: #37383e;
    font-size: 20px;
}
.homepageAbout-bold {
    font-size: 20px;
    /* padding-top: 32px; */
}
.homepageAbout {
    font-size: 16px;
    margin-top: 50px;
}
.homepageProjects {
    padding-top: 50px;
    padding-bottom: 50px;
}
.checkout-link,
.form-submit,
.resume-link {
  font-family: "Rubik Mono One";
  text-decoration: none;
  color: white;
  background-color: #6F727C;             
  border: 3px solid rgba(255, 255, 255, 0.4); 
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(41, 44, 145, 0.15); 
  transition: all 0.3s ease;
  display: inline-block;
}
.checkout-link:hover,
.form-submit:hover,
.resume-link:hover {
  background-color: #fc1ea7;        
  transform: scale(1.05);
  box-shadow:
    0 0 6px rgba(255, 255, 255, 0.3),
    0 0 12px rgba(81, 84, 196, 0.3);    
  cursor: pointer;
}
.logo-big {
    font-family: "ZCOOL KuaiLe";
    font-size: 150px;
    margin-bottom: -30px;
}
.polaroid-outline {
    display: none;
    width: 283px;
    height: 438px;
    background-color: white;
    border-radius: 37px;
}
.polaroid-photo {
    border-radius: 30px;
}
.polaroid-text {
    font-size: 14px;
}
.linkedinlink {
    color: #6F727C;
    text-align: start;
    text-decoration: underline solid #6F727C;
}
.linkedinlink:hover {
    color: #fc1ea7 !important;
    text-decoration-color: #fc1ea7; 
}

/* !! projects !!  */
.imgBox {
    max-width: 600px;
    min-width: 330px;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: block;
    border-radius: 15px;
    overflow: hidden;
}
.imgBox img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}
.imgBox:hover {
    transform: scale(1.03);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
    z-index: 2;
}
.imgBox:hover img {
    transform: scale(1.05);
}
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(20, 20, 20, 0.4); 
    padding: 12px 0;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-align: center;
    transform: translateY(100%);
}
.overlay span {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
.imgBox:hover .overlay {
    opacity: 1;
    transform: translateY(0%);
}

/* !! about me !! */
.selfie {
    width: 350px;
    height: 510px; 
}
.about-text {
    max-width: 800px;
}
.resume-link {
    width: 250px;
}

/* !! contact form !! */
.contact-header {
    font-family: "Rubik Mono One";
    font-size: 24px;
    font-weight: bold;
    margin: auto;
}
.required-asterisk {
    color: red;
    font-size: 22px;
}
.form-submit {
    padding: 10px 25px;
}
.form-control {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #868686;
}
.form-control::placeholder {
    color: #868686; 
}
.contact-form {
    max-width: 800px;
}
.contact-form-container {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    margin: auto;
}


/* !! media queries !! */
@media (min-width: 992px) {
    h1 {
        font-size: 60px; 
    }
    .contentBody {
        padding: 50px;
        margin-top: 120px;
        margin-left: 10%; 
        margin-right: 10%; 
    }
    .homepageRole {
        font-size: 30px;
    }
    .homepageAbout {
        margin-right: 50px;
    }
    .homepageProjects{
        flex-direction: row;
        padding-top: 100px;
    }
    .polaroid-outline {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .ham-nav {
        display: none;
    }
    .reg-nav {
        display: flex;
        margin-top: 12px;
    }
    .reg-nav a {
        text-decoration: none;
        color: #6F727C; 
        font-size: 16px;
        font-weight: bold;
    }
    .homepageAbout-bold {
        padding-top: 32px;
    }
    .homepageProjects{
        flex-direction: row;
    }
    .imgBox {
        max-width: 45%;
    }
}

@media (min-width: 1400px) {
    .homepageAbout {
        width: 625px;
    }
}