
/* !! general styling !! */
* {
    box-sizing: border-box;
    font-size: 16px;
    color: #103662;
}

body {background-color: #EDF6FC;}

ul {list-style: none;}

.contentBody {
    margin-top: 150px;
    margin-left: 10%; 
    margin-right: 10%; 
    min-height: 100vh;
}

/* !! navbar & footer !! */
.navbar {
    background-color: #103662;
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 30px;
    z-index: 10;
}
.nav-logo {
    color: white;
    font-size: 32px;
    padding-left: 20px;
    position: absolute;
    transform: translateY(-50%); 
}
.hamburger-line {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: white;
}
.hamburger-menu {
    display: none;
    background-color: #103662;
    position: fixed;
    margin-top: 42px;
}
.hamburger-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 20px;
}
.reg-nav {
    display: none;
}
.footer {
    background-color: #103662;
}


/* !! homepage !! */
h1 {
    font-size: 55px; 
    font-family: "Rubik Mono One";
}
.homepageRole {
    color: #3486E3;
    font-size: 30px;
}
.homepageAbout {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.homepageProjects {
    padding-top: 50px;
}
.checkout-link, .form-submit, .resume-link {
    font-family: "Rubik Mono One";
    color: white;
    text-decoration: none;
    background-color: #3486E3;
    border: 3px solid #103662;
    border-radius: 15px;
    padding: 10px;  
}
.logo-big {
    font-family: "ZCOOL KuaiLe";
    font-size: 150px;
    margin-bottom: -30px;
}


/* !! projects !!  */
.imgBox {
    max-width: 600px;
    min-width: 330px;
    text-decoration: none;
}
.imgBox img {
    width: 100%;
    height: auto;
}
.overlay {
    transform: translate(0, -52px);
    background: #57575750; 
    padding: 10px 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}
.overlay span {
    color: white;
    font-size: 20px;
}
.imgBox:hover .overlay {
    opacity: 1;
}


/* !! about me !! */
.selfie {
    width: 350px;
    height: auto; 
}
.about-text {
    max-width: 800px;
}
.resume-link {
    width: 250px;
}


/* !! food carousel !! */
.carousel-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 60px;
    position: relative;
    height: 350px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-self: center; 
    height: 100%;
}
.carousel-image {
    width: 100%; 
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.custom-prev, .custom-next {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; 
    cursor: pointer; 
}
.custom-prev {left: 0;}
.custom-next {right: 0;}
.custom-prev::after, .custom-next::after {
    content: "";
    display: block;
    width: 20px; 
    height: 20px; 
    border-top: 3px solid #000000; 
    border-left: 3px solid #000000; 
    transform: rotate(-45deg); 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px; 
    margin-left: -6px; 
}
.custom-next::after {
    transform: rotate(135deg); 
    margin-left: -20px; 
}


/* !! contact form !! */
.contact-header {
    font-family: "Rubik Mono One";
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}
.form-submit {
    padding: 10px 25px;
}
.contact-form {
    max-width: 500px;
}


/* !! media queries !! */
@media (min-width: 992px) {
    h1 {
        font-size: 80px; 
        /* margin-top: 150px; */
    }
    .homepageRole {
        font-size: 50px;
    }
    .homepageProjects{
        flex-direction: row;
        padding-top: 150px;
        padding-bottom: 100px;
    }
    .contact-form {
        padding-bottom: 100px;
    }
    .contact-header {
        font-size: 40px;
        margin-bottom: 75px;
    }
}

@media (min-width: 1200px) {
    .homepageAbout {
        width: 700px;
    }
    .ham-nav {
        display: none;
    }
    .reg-nav {
        display: flex;
        margin-top: 12px;
    }
    .reg-nav a {
        text-decoration: none;
        color: white; 
        font-size: 18px;
        font-weight: bold;
    }
    .homepageProjects{
        flex-direction: row;
        padding-top: 200px;
        padding-bottom: 250px;
    }
    .imgBox {
        max-width: 45%;
    }
    .logo-big {
        font-size: 200px;
        margin-top: -50px;
    }
}

@media (min-width: 1400px) {
    .homepageRole {
        margin-left: 350px;
    }
    .logo-big {
        margin-left: 55%;
    }
}